* {
    font-family: monospace;
    background-color: black;
    background-color: #111111;
    color: limegreen;
}
img {
    width: 100px;
    height: 100px;
}
h2 {
    font-style: normal;
    text-decoration: underline;
    text-transform: uppercase;
}
ul {
    list-style: square;
}